.formulario{
    width: 500px;
    display: flex;
    flex-direction: column;
 }

.titulo-contato{
    font-size: 3rem;
    text-align: center;
    color: #154260;
}

.contato-esquerda{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 20px auto;
}

.contato-esquerda > a{
    text-align: center;
}

.image-contato{
    display: flex;
    justify-content: center;
    margin-right: 0.25rem;
}

.seccao-contato{
    display: flex;
    height: 90vh;
    margin: 1.5rem;
    justify-content: center;
}
 
.input-padrao{
    display: block;
    padding: 20px 20px;
    width: 90%;
    font-size: 1rem;
    border: 1px solid #154260;
    border-radius: 5px;
}
 
.enviar{
    width: 20%;
    padding: 10px 0;
    background-color: #EB7A21;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-container {
    position: relative;
    margin-bottom: 0.8rem;
}
 
.input::placeholder {
    visibility: hidden;
    color: #00000000;
}


.input:focus {
    outline: none;
}

.input-label {
    font-size: 1.2rem;
    position: absolute;
    top: 0.35rem;
    left: 0.35rem;
    transition: all .25s;
}

.input:not(:placeholder-shown) + .input-label, .input:focus + .input-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all .25s;
}

.mensagem::placeholder{
    padding-top: 10px;
    visibility: visible;
    color: rgb(133, 131, 131);
}

.mensagem:focus::placeholder{
    visibility: hidden;
    color: #00000000;
}

@media only screen and (max-width:800px){
    .titulo-contato{
        padding: 5vh 0;
        margin: 0 1.25rem;
    }

    .seccao-contato{
        height: auto;
        display: block;
        margin: 1.5rem 0;
    }
    
    .image-contato{
        display: block;
        margin-bottom: 2.25rem;
        text-align: center;
    }

    .mapa-contato{
        width: 95%;
    }

    .formulario{
        width: auto;
        display: block;
    }

    .input-container, .enviar{
        display: flex;
        justify-content: space-around;
    }

    .input-padrao{
        width: 90%;
        margin: 0 0.75rem;
    }

    .input-label {
        left: 1.35rem;
    }
    
    .enviar{
        margin: 0 auto;
        width: 50%;
    }
}
